@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.react-flow__controls {
  z-index: 9999;
}
.react-flow__attribution {
  /* Note: Application is done by using  React Flow - https://reactflow.dev/ . Check it out*/
  /* display: none; */
}

.react-flow .react-flow__handle {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #ffffff;
}
.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 3;
  stroke: #ffffff;
}
.react-flow__controls {
  bottom: 20px !important;
  left: 15px;
  position: absolute;
  z-index: 5;
}
.react-flow__minimap {
  bottom: 20px !important;
  right: 15px !important;
  z-index: 5;
}

@media print {
  .react-flow__minimap {
    display: none;
  }
}
.wrapper {
  flex-grow: 1;
  height: 100%;
}
.selected .node-wrapper {
  box-shadow: 0 0 0 0.5px #1a192b;
  border: 2px solid #1a192b;
}

.actionBtn:after {
  content: '»';
  font-size: 25px;
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

.actionBtn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.actionBtn:hover:after {
  opacity: 1;
  right: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* width */
.decision-node ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.decision-node ::-webkit-scrollbar-track {
  background: #f1f1f105;
}

/* Handle */
.decision-node ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.decision-node ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
